.bg-color-custom
{
    background-color: #c2d8e3;
}

@media (max-width: 767px) {
  
    .nestor-main-menu .navbar-toggle {
      border: 1px solid #c2b49a !important;
      background: #deb408 !important;
      color: #7b6953 !important;
    }
}
/*
@font-face {
    font-family: 'KGWhYYouGoTtABeSoMeAn';
    src: url('fonts/KGWhYYouGoTtABeSoMeAn.eot');
    src: url('fonts/KGWhYYouGoTtABeSoMeAn.ttf')
        format('truetype');  
    src: url('fonts/KGWhYyOuGoTtABeSoMeAn.svg');  
    src: url('fonts/KGWhYyOuGoTtABeSoMeAn.woff');  
}

.tb-megamenu .nav > li > a {
    font-family: 'KGWhYYouGoTtABeSoMeAn', sans-serif;
    text-transform: uppercase;
}*/

/*Fix for overflowing text on gmaps*/
.gm-style-iw {
    width: auto !important;
   }
/*Font color for gmap in footer*/
   #content-map-footer>h3{
    color: #2b2b2b;
   }
   #content-map-footer>p{
    color: #777;
   }